*.mod
*.o
*.make*
.directory
build/.directory
build/*.out
logs
bin/getmathflags
build/.depends
build/react*
build/phantom-version.h
*~
*/*~
*/*/*~
*.bindata
*.pyc
#*
.#*
*.optrpt
*.js
*.gz
*.tar.gz
*.tar
.DS_Store
_build


vprofile_sn.txt
rho_gamma_Teqs.txt
rho_gamma_ueqs.txt
free_field_model.txt
semi_confined_model.txt
confined_cooling_model.txt
mod_ramp.png
mod_thermp.png
mod_vx.png
glassCube_192.dat
glassCube_256.dat
rho_gamma_Teqs.txt

